$default-font: "Poppins", sans-serif;
$secondary: #808080;
$white: #ffffff;
$text-default-color: #555555;
$spindle: #B4C2ED;
$orange: #F2994A;
$green: #27AE60;
$red: #D43F51;
$grey-1: #333333;
$grey: #a7a7a7;
